.navbar {
    width: 100%;
    background-color: rgb(27 27 31 / 0.70);
    overflow: auto;
}

    .navbar a {
        float: right;
        text-align: center;
        padding: 19px 28px;
        color: #dac319;
        text-decoration: none;
        font-size: 25px;
    }

        .navbar a:hover {
            background-color: white;
        }



body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: url('image/dark.png');
    background-size: cover;
    font-family: 'Trebuchet MS';
    height: 100vh;
}

    body h1 {
        color: #FFBF00;
    }

.content-wrap {
    width: 100%;
    padding-top: 100px;
    display: flex;
}

.content {
    width: 400px;
    height: 60vh;
    margin: auto;
    background-color: black;
    opacity: 0.8;
    text-align: center;
    color: white;
}


.form-group {
    padding: 20px 100px;
}


#Name, #City, #UserType {
    font-size: 20px;
}

#txtName, #txtCity, #txtUserType {
    border: none;
    border-bottom: 3px solid #FFBF00;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
}

#btn {
    margin-top: 20px;
    background-color: #FFBF00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
